@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

/* Header start */

.header {
  background-color: #F9F6F5;
}

.header__wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 40px;
  z-index: 10;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  line-height: 30px;
}

.list {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.list__item {
  list-style-type: none;
  padding-right: 40px;
}

.list__item:last-child {
  padding-right: 0;
}

.list__item__link {
  text-decoration: none;
  color: #222222;
}

.bar__profile {
  padding-right: 24px;
}

.bar__buy {
  padding-right: 24px;
}

.bar__profile__logo {
  max-width: 18px;
  height: 18px;
}

.bar__buy__logo {
  width: 18px;
  height: 18px;
}

.bar__sidebar__logo {
  width: 18px;
  height: 18px;
}

/* Header end */


/* Main    start */

/* Home start */

.home {
  background-color: #F9F6F5;
  position: relative;
  height: 91vh;
}

.home__left {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  z-index: 2;
}

.home__left__title h1 {
  position: absolute;
  font-size: 56px;
  line-height: 70px;
  font-weight: 500;
  top: 108px;
}

.home__left__text p {
  position: absolute;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #555555;
  top: 278px;
}

.home__left__search {
  position: absolute;
  top: 404px;
}

.search-input {
  width: 326px;
  height: 48px;
  border: 0px;
}

.search-input::placeholder {
  display: flex;
  padding: 16px 14px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #999999;
}

.home__left__btn {
  position: absolute;
  top: 512px;
}

.home__left__btn {
  width: 148px;
  height: 56px;
  border: 0px;
  background-color: #402F2C;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.home_right {
  z-index: 1;
}

.home__right__image {
  position: absolute;
  top: 68px;
  right : 0;
}

/* Home end */


/* Market`s list start*/

.market__logos {
  max-width: 1200px;
  margin: 0 auto;
  height: 373px;
  position: relative;
  top: 130px;
  align-items: center;
}

.market__logo {
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  list-style-type: none;
  padding-left: 0;
  padding-top: 42.5px;
  padding-bottom: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Market`s list end */


/* Products start */

.products {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.product__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.product__top__title h1 {
  font-size: 56px;
  line-height: 70px;
  font-weight: 500;
  color: #000000;
}

.product__top__text p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #555555;
  margin-top: 20px;
}

.product__top__link a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #222222;
}

.product__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.product__bottom__left {
  border: 1px solid rgba(104, 90, 82, 0.19);
}

.product__bottom__right {
  border: 1px solid rgba(104, 90, 82, 0.19);
}

.product__bottom__bottom {
  padding-left: 32px  ;
  padding-right: 32px;
}

.product__bottom__title {
  padding-top: 20px;
  padding-bottom: 16px;
}

.product__bottom__title h1 {
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
}

.product__bottom__text {
  padding-bottom: 47.76px;
}

.product__bottom__text p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(85, 85, 85, 1);
}

.buy-now-btn {
  width: 137px;
  height: 56px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background-color: rgba(64, 47, 44, 1);
  border: 1px solid rgba(64, 47, 44, 1);
}

.add-to-cart-btn {
  width: 162px;
  height: 56px;
  margin-left: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background-color: white;
  border: 1px solid rgba(104, 90, 82, 0.46);
}

.product-btn-price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.product-btn-price p {
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
}

/* Products end */

/* Stats start */

.stats {
  height: 510px;
  margin: 0 auto;
  position: relative;
  top: 130px;
}

.stats__wrapper {
  background-color: rgba(253, 248, 245, 1);
  height: 250px;
}

.stats__list {
  max-width: 1300px;
  height: 250px;
  margin: 0 auto;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.stats__list__item h1 {
  font-size: 56px;
  line-height: 70px;
  font-weight: 700;
  color: rgba(34, 34, 34, 1);
  border-bottom: 3px solid rgba(34, 34, 34, 1);
  margin-bottom: 34px;
}

.stats__list__item p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: rgba(85, 85, 85, 1);
}

/* Stats end */


/* Feedback start */

.product-you {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 130px;
}

.product-you__left__title h1 {
  font-size: 56px;
  line-height: 70px;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 45px;
}

.product-you__left__text1 p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(85, 85, 85, 1);
  margin-bottom: 20px;
}

.product-you__left__text2 p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(85, 85, 85, 1);
  margin-bottom: 50px;
}

.product-you__left__btn-btn {
  width: 148px;
  height: 56px;
  border: 0px;
  background-color: rgba(64, 47, 44, 1);
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.feedback-customer {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 130px;
}

.product-you__right__title h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  color: rgba(34, 34, 34, 1);
  padding-bottom: 12px;
  padding-top: 30px;
}

.product-you__right__text p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(85, 85, 85, 1);
  padding-top: 43px;
  padding-bottom: 73px;
}

.product-you__right__customer h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}

.product-you__right__prof p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(85, 85, 85, 1);
  margin-top: 10px;
}

/* Feedback end */

/* Footer start */

.footer {
  background-color: rgba(250, 250, 250, 1);
  height: 545px;
}

.footer__wrapper {
  max-width: 1300px;
  margin: 0 auto  ;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 103px;
  padding-bottom: 59px;
  border-bottom: 1px solid rgba(221, 221, 221, 1);
}

.footer__top__title h1 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 500;
  color: rgba(34, 34, 34, 1);
}

.footer__top__input input {
  width: 386px;
  height: 56px;
  border: 0;
}

.footer__top__input__text {
  padding-left: 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.footer__top__input__btn {
  background-color: rgba(64, 47, 44, 1);
  width: 103px;
  height: 40px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin: 8px 8px 8px 275px;
  position: absolute;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 105px;
  padding-left: 105px;
}

.footer__bottom__company {
  padding-top: 59px;
}

.footer__bottom__company__title h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  font-style: italic;
  color: rgba(34, 34, 34, 1);
  text-decoration: underline;
}

.footer__bottom__company__text p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(85, 85, 85, 1);
  padding-top: 38px;
}

.footer__bottom__links {
  padding-top: 84px;
}

.footer__bottom__links__list {
  list-style: none;
  padding-left: 0;
}

.footer__bottom__links__item {
  padding-bottom: 20px;
}

.footer__bottom__links__item h1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(34, 34, 34, 1);
  padding-bottom: 19px;
}

.footer__bottom__links__item a {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
}

.footer__bottom__links__item p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgba(34, 34, 34, 1);
  text-decoration: none;
}

.footer__bottom__contacts {
  padding-top: 84px;
}

.footer__bottom__links__links__list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer__bottom__links__links__item {
  padding-right: 26.74px;
}

/* Footer end */

/* Main    end */